* {
  font-family: 'Rubik', sans-serif;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
	padding: 0;
  overflow: hidden;
}

:root{
  --bg: #b5c3d6;
  --main: #407CED;
  --gradient: linear-gradient(35deg, #2E5090 100%, #407CED 100%); ;
  --font-dark: #31353B;
  --font-light : #545454;
  --black: black;
}

img, svg{
  height: 100%;
  object-fit: cover;
}

::-webkit-scrollbar{
  width: 7px;
  border-radius: 7px;
}
::-webkit-scrollbar-thumb{
  background: #BCB4B4;
  border-radius: 7px;
}
::-webkit-scrollbar-track{
  background: #1E1E1E;
}